body{
    background-image: image(./);
    height: 100vh;
    div{
        background: linear-gradient(45deg, red 50%, blue 50%);
        width: 500px;
        height: 500px;
        
    }
}
