<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="box1 con">
     <br><br><br>
     <label for="username">Username</label><br><br>
     <input class="b" type="text" placeholder="username" maxlength="20" minlength="8" required>
     <br><br><br>
     <label  for="password">Password</label><br><br>
     <input class="b" type="password" placeholder="password" maxlength="20" minlength="8" required>
     <br>
     <a href="" class="t">Forgot your password?</a>
     <p  align="center"><input  type="checkbox">Remember me</p>
     <br><br>
        <div align="center" class="box2 con">
            <a href="" type="submit" ng-click="onLoginClick"><button>Sign in</button></a>
            <br><br><br><br>
        </div>
        <hr>
        <br>
        <h3 align="center">Don't have an account?</h3>
        <div align="center" class="box3 con">
            <a href="index2.htm" type="submit" ng-click="onSignupClick"><button>Sign up</button></a>
            <br><br><br><br>
        </div>
    </div>
</body>
</html>