.section1{
    background-color: rgb(94, 174, 83);
    .container-fluid{
        .row{
            padding-top: 5rem;
            display: flex;
            justify-content: center;
            .textcol{
                margin-left: 15rem;
                p{
                    font-size: 2rem;
                    text-justify: auto;
                }
                h1{
                    width: 80%;
                    font-weight: 800;
                    font-size: 5rem;
                }
                .input-group{
                    width: 30rem;
                    height:4rem ;
                    .form-control{
                     //   width: 10rem;
                     //   height: 5rem;
                     border: none;
                     width: 25rem;
                     height: 4rem;
                     
                    }
                    .igt{
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        border: none;
                        width: 5rem;
                        height: 4rem;
                        background-color: white;
                    
                        .input-group-text{
                            margin: 0.2rem;
                            background-color: rgb(235, 142, 120);
                            color: white;
                        }
                    }
                }
            }
            .imgcol{
                height: auto;
                position: relative;
                .sekil{
                    
                
                    .food1{
                        z-index:0;
                        background-color:rgb(244, 155, 63);
                        width: 15rem;
                        height: 13rem;
                    }
                    .food2{
                        position: absolute;
                        right: 20rem;
                        top: 2rem;
                        z-index:1 ;
                        width:23 ;
                        height:27 ;
                    }
                    .food3{
                        position: absolute;
                        right:18rem ;
                        top:-2rem ;
                        z-index:2 ;
                        background-color: rgb(235, 142, 120);
                        width: 10rem;
                        height: 10rem;
                        img{
                            width: 10rem;
                            height: 10rem;
                        }
                    }
                    div{
                        position: absolute;
                        right: 20rem;
                        top: 25rem;
                        z-index: 2;
                        width: 5rem;
                        height: 5rem;
                        background-color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            font-size: 2rem;
                            color: green;
                        }
                    }
                }
            }
            .icon{
                margin-top: 5rem;
                display: flex;
                div{
                    width: 4rem;
                    height: 4rem;
                    background-color: rgb(235, 142, 120);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        font-size: 2rem;
                        color: white;
                    }
                }
            }
        }
    }
}