.hnb{
    font-size: 2rem;

    .container-fluid{
        .nbr1{
            width: 3rem;
            height: 3rem;
        }
        .nbr2{
            width: 7rem;
            height: 3rem;
        }
        ul{
            margin-left: 10%;
            align-self: center;
            li{margin-left: 3rem;}
        }
        
    }
}