body{
    background-color: black;
}
header{
    display: flex;
    z-index: 2;
 .navbar{
     .container-fluid{
         width: 90%;
         .navbar-brand{
             margin-top: 15px;
             img{
                 width: 200px;
                 height: 50px;
              }
          }
          .collapse{
              ul{
                  li{
                      a{
                          color: blanchedalmond;
                          &:hover {
                              color: rgb(0, 119, 255);
                         
                          }
                      }
                  }
              }
              form{
                  .buy{
                      border-radius: 2em;
                     $gradient: linear-gradient(180deg, rgba($gradient), rgba($gradient, 15));
                     &:hover{
                  box-shadow:rgba(0,0,0,25);
                     }
                 }
             }
         }
     }
    }
 
}
.agency{
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 850px;
    background-image: url(/image/nubelson.jpg);
    background-size: cover;
    text-align: center;
    h4{
        width: 60%;
        color:white ;
        font: 20px sans-serif;

    }
    h1{
        width: 80%;
        color: white;
        font-size: 4rem;
    }
    h3{
        width: 45%;
        color: white;
        font: 25px sans-serif;
    }
    .click{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .print{
            text-decoration: none;
            input{
                background-color: tomato;
                background-image:linear-gradient(95deg, rgb(5, 157, 255) 15%, rgb(101, 73, 213) 45%, rgb(227, 63, 161) 75%, rgb(251, 83, 67)) ;
                color: white;
                width: 150px;
                height: 50px;
                border-radius: 100px;
                margin: 20px;
            }
        }
        .print0{
            text-decoration: none;
            input{
                background-color: transparent;
                color: white;
                border-radius: 100px;
                width: 150px;
                height: 50px;
                &:hover{
                    background-color: orangered;
                }
            }
        }
    }
    
    
}
