.header-bottom{
    .row{
        margin-top: 5rem;
        margin-bottom: 5rem;
        .text{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                width: 40%;
                cursor: pointer;
            }
        }
        .logo{
            border-left:solid thin rgba(82, 81, 81, 0.171);
            border-right:solid thin rgba(82, 81, 81, 0.171);
            font-weight: 700;
            font-size: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                cursor: pointer;
            }
        }
        .icon{
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 1rem;
            a{
                cursor: pointer;
                i{
                    color: black;
                    &:hover{
                        color: orange;
                    }
                }
            }
        }
    }
}