header {
  border-bottom: double rgba(82, 81, 81, 0.171);
}

header .navbar {
  background-color: white;
}

header .navbar .container-fluid .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .container-fluid .collapse .navbar-nav {
  width: 50%;
  margin-left: auto;
}

header .navbar .container-fluid .collapse .navbar-nav .nav-item {
  cursor: pointer;
}

header .navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
  color: orange;
}

header .navbar .container-fluid .collapse a {
  cursor: pointer;
  color: black;
}

.header-bottom .row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.header-bottom .row .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .row .text p {
  width: 40%;
  cursor: pointer;
}

.header-bottom .row .logo {
  border-left: solid thin rgba(82, 81, 81, 0.171);
  border-right: solid thin rgba(82, 81, 81, 0.171);
  font-weight: 700;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .row .logo p {
  cursor: pointer;
}

.header-bottom .row .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.header-bottom .row .icon a {
  cursor: pointer;
}

.header-bottom .row .icon a i {
  color: black;
}

.header-bottom .row .icon a i:hover {
  color: orange;
}

.hello .hello-text {
  background-color: whitesmoke;
}

.hello .hello-text .card {
  border-color: transparent;
  background-color: whitesmoke;
}

.hello .hello-text .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: x-large;
}

.hello .hello-text .card .card-body h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hello .hello-text .card .card-body p {
  width: 70%;
  text-align: center;
}

.hello .hello-text .card .card-body a {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #ff5910;
}

.hello .hello-text .card .card-body a:hover {
  background-color: black;
}

.carusel3 .slide .carusel-inner .carusel-item .card-group .card imghover {
  background-color: warning;
}

.carusel3 .slide .carusel-inner .carusel-item .card-group .card .card-body .card-title {
  cursor: pointer;
  color: black;
}

.carusel3 .slide .carusel-inner .carusel-item .card-group .card .card-body .card-title:hover {
  color: #ff5910;
}

.footer-top .fte {
  height: 20rem;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top .fte .text .h2 {
  font-size: 4rem;
  font-weight: 700;
}

.footer-top .fte .np input {
  border-color: rgba(82, 81, 81, 0.171);
  width: 15rem;
  height: 5rem;
}

.footer-top .fte .btn .submit {
  background-color: #ff5910;
  border-color: rgba(82, 81, 81, 0.171);
  color: white;
  font-size: 2rem;
  width: 15rem;
  height: 5rem;
}

.footer-top .fte .btn .submit:hover {
  background-color: #b8b6bb;
}

.NYC .row .col-2 {
  width: 192px;
  height: 192px;
}

.NYC .row .col-2 img {
  width: 192px;
  height: 192px;
}

.textd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textd h4 {
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
/*# sourceMappingURL=style.css.map */